*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main{
    height: 630px;
    width: 60%;
    margin-left: 20%;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 5px 1px gainsboro;
    padding: 10px;
}
p{
    font-size: 14px;
}
h1{
    margin-top: 10px;
    margin-left: 10px;
}
h3{
    margin-top: 20px;
    margin-left: 10px;
}
.para1{
    margin-top: 20px;
    margin-left: 10px;
}
h4{
    margin-top: 20px;
    margin-left: 10px;
}
ul{
    margin-top: 20px;
    margin-left: 20px;
}
ul li{
    margin-top: 5px;
    margin-left: 30px;
    font-size: 14px;
}
h5{
    margin-top: 20px;
    margin-left: 30px;
}
.para2{
    margin-top: 20px;
    margin-left: 30px;
}
.para3,.para4{
    margin-top: 20px;
    margin-left: 10px;
}
